<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Файловый сервер</title>
</head>
<body>
    <h2>Доступные файлы</h2>
    <ul>
        <th:block th:each="file : ${files}">
            <li><a th:href="@{/download/{file}(file=${file})}" th:text="${file}"></a></li>
        </th:block>
    </ul>

    <h2>Загрузить файл</h2>
    <div id="progress" style="margin-top: 20px; display: none">
        <progress id="progressBar" value="0" max="100"></progress>
        <span id="progressText">0%</span>
    </div>
    <input type="file" id="fileInput" required>
    <button onclick="uploadFile()">Загрузить</button>
    

    <script>
        
        async function uploadFile() {
            const fileInput = document.getElementById('fileInput');
            const file = fileInput.files[0];

            if (!file) {
                alert("Выберите файл!");
                return;
            }

            const chunkSize = 100 * 1024 * 1024;
            let offset = 0;
            document.getElementById('progress').style.display = 'block';

            while (offset < file.size) {
                const chunk = file.slice(offset, offset + chunkSize);
                await uploadChunk(chunk, offset, file.size, file.name);
                offset += chunkSize;
                const percent = Math.min((offset / file.size) * 100, 100);
                updateProgress(percent);
            }

            alert("Файл успешно загружен!");

            setTimeout(() => {
                fileInput.value = '';
            }, 100);

            document.getElementById('progress').style.display = 'none';
        }

        async function uploadChunk(chunk, offset, totalSize, fileName) {
            const formData = new FormData();
            formData.append('file', chunk, fileName);
            formData.append('offset', offset);
            formData.append('totalSize', totalSize);
            formData.append('fileName', fileName);

            const response = await fetch('/dir-share/upload', {
                method: 'POST',
                body: formData,
            });

            if (!response.ok) {
                throw new Error("Ошибка при загрузке файла");
            }
        }

        function updateProgress(percent) {
            const progressBar = document.getElementById('progressBar');
            const progressText = document.getElementById('progressText');

            progressBar.value = percent;
            progressText.textContent = `${percent.toFixed(2)}%`;
        }
    </script>
</body>
</html>